{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Travel Tourism Management </title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<a href="{% url 'register' %}"> Sign-up  </a>&nbsp&nbsp&nbsp
<a href="{% url 'login' %}">Login  </a>&nbsp&nbsp&nbsp
<a href="{% url 'login' %}">Home  </a>
<br><br><br>
{% block 'b1' %}
<h2 align="center"><font color="brown">Admin Indian Travel & Tourism Management </font></h2>
{% endblock %}
</body>
</html>