{% extends 'adminhome.html' %}
{% block 'b1' %}
<h2 align="center"><font color="green">Update page</font></h2>
<form method="post" action="{% url 'checkupdate' %}">
    {% csrf_token %}
    <table align="center" >
<html>
<head>
    <title>Update Information</title>
</head>
<body>

<h2 align="center">Update Your Information</h2>

<form action="/update-information" method="post">
    <tr>

    <td><label for="name">Name:</label><br></td>
    <td><input type="text" id="name" name="name" required><br></td>
    </tr>
    <tr>
       <td><label for="email">Email:</label><br></td>
    <td><input type="email" id="email" name="email" required><br></td>

    </tr>

    <td align="center"><input type="submit" value="Update"></td>
    <td align="center"><input type="reset" value="clear"></td>
</form>

</body>
</html>
{% endblock %}